# The loopback network interface
auto lo
iface lo inet loopback
   address {{node[ansible_hostname]["interfaces"]["lo"]["ipv4"]}}


# The primary network interface
auto eth0
iface eth0 inet dhcp

{% for interface in linecards["fabric_ports"] -%}
auto {{interface}}
iface {{interface}}
{% endfor %}
