# The loopback network interface
auto lo
iface lo inet loopback
   address {{node[ansible_hostname]["interfaces"]["lo"]["ipv4"]}}


auto eth1
iface eth1

auto eth2
iface eth2

source /etc/network/interfaces.d/*.cfg
